/** {*/
/*    border: 1px indianred solid;*/
/*}*/

body {
    font-family: 'Nunito', sans-serif;
}

.navi {
    box-shadow: #2d3748 0px 5px 20px;
}

.msg-error {
    font-size: 15px;
    color: #ff4545;
}

.bloc-error {
    background-color: #e1e1e1;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
