/* * {
   border: 1px indianred solid;
} */

body {
    font-family: 'Nunito', sans-serif;
}

.navi {
    box-shadow: #2d3748 0px 5px 15px;
}

.summary-table {
    margin-bottom: 20px;
    font-size: 25px;
}

.left-menu-table {
    width: 200px;
    padding: 10px;
    box-shadow: #676767 0px 5px 10px;
}

.msg-error {
    font-size: 15px;
    color: #ff4545;
}

.bloc-error {
    background-color: #e1e1e1;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.foot {
    text-align: center;
    margin: auto; !important;
    padding: 10px; !important;
}

.action {
    margin: 0;
    padding: 0;
}

.fa-pen-to-square {
    color: #18ad36;
}

.fa-trash {
    color: #c22828;
    border: none;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
}

.fa-trash:hover {
    opacity: 1;
}

a, a:hover, a:active, a:focus {
    text-decoration: none; !important;
}

.danger {
    text-align: center; !important;
    border: none; !important;
}

.no-pad {
    padding: 0; !important;
}

.no-mrg {
    margin: 0; !important;
}

.action-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    max-width: 80px;
}

.users-edit-nav {
    color:#383838;
}

.users-edit-nav:hover {
    color:#585858
}

.btn-back {
    padding-bottom: 20px;
}

.required {
    color:red;
    font-weight: bold;
    padding-bottom: 20px;
}

.input-required {
    color: gray;
}